:root {
  --font: "Poppins", sans-serif;
  --background: white;
  --foreground: #212121;
  --deep: #663c31;
  --medium: #ea2e11;
  --light: #f2791f;
  --normal: #474747;

  --green: #49d280;
  --indigo: #496fd2;
  --red: #d24949;
  --deep-red: #d24972;
  --blue: #4990d2;

  --gradient: linear-gradient(to bottom right, var(--medium), var(--light));
}

*:not(i) {
  font-family: var(--font);
  text-decoration: none;
  list-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.green-txt {
  color: var(--green);
}

.indigo-txt {
  color: var(--indigo);
}

.red-txt {
  color: var(--red);
}

.deep-red-txt {
  color: var(--deep-red);
}

.blue-txt {
  color: var(--blue);
}
