.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 18rem;
  background: var(--sub-accent-bg);
  z-index: 111;
  transition: transform 300ms ease;

  .head {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 1.5rem;

    a {
      display: grid;
    }

    img {
      width: 3rem;
      height: 3rem;
      object-fit: contain;
    }

    div {
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 1.15rem;
      color: var(--foreground);
    }
  }

  .subHead {
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    color: var(--deep);
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }

  .list {
    height: calc(100% - 12rem);
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-right: 0.5rem;

    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--scroll-bg);
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--light-plus);
      border-radius: 10px;
    }

    .card {
      margin: 0rem 0.8rem;
      padding: 0.7rem 0.7rem;
      font-size: 1.1rem;
      font-weight: 500;
      border-radius: 5px;
      border: none;
      color: var(--normal);
      cursor: pointer;
      user-select: none;
      transition: all 300ms;

      &:hover {
        background: var(--sub-background);
      }
    }

    .card:not(.enabled) {
      opacity: 0.9;
      font-size: 1rem;
    }

    .card.enabled {
      font-weight: 600;
      letter-spacing: 1px;
      color: white;

      font-weight: bold;
      background: var(--gradient);
      padding: 1rem 0.7rem;
    }
  }
}

.overview {
  position: fixed;
  right: 0;
  top: 0;
  width: 18rem;
  height: 100vh;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      transparent,
      transparent,
      var(--background),
      var(--background)
    );
  }

  & > img,
  .device {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > img {
    width: 13rem;
    z-index: -1;
    pointer-events: none;
  }

  .device {
    z-index: -1;
    width: 9.9rem;
    height: 22rem;
    background: var(--background);
    // background: red;
    border-radius: 15px;
    padding: 0rem 1rem;
    overflow-y: auto;
    overflow-x: hidden;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--scroll-bg);
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--light-plus);
      border-radius: 10px;
    }

    .section {
      width: 100%;
      height: 100%;
      padding: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      color: var(--foreground);

      .logo {
        margin-top: 1.6rem;
        width: 6rem;
        filter: var(--glow);
      }

      .title {
        text-align: center;
        font-weight: 600;
      }

      .codeName {
        border-radius: 5px;
        background: var(--light);
        padding: 0.5rem 1rem;
        color: var(--background);
        font-weight: 600;
        font-size: 0.8rem;
        letter-spacing: 1px;
      }
    }
  }
}

.downloads {
  padding-top: 3rem;
  margin-left: 22rem;
  margin-right: 20rem;
  transition: margin 300ms;

  .topHeader {
    position: sticky;
    top: 0;
    background: var(--background);
    z-index: 2;
    padding-top: 2rem;
    .title {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      position: sticky;
      font-size: 3.5rem;
      font-weight: 700;
      color: var(--foreground);
      margin-bottom: 0rem;

      span {
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 1px;
        background: var(--light);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        height: min-content;
        margin-top: 1rem;
      }
    }
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    border-bottom: 1px solid var(--sub-background);
    gap: 1rem;

    & > div {
      cursor: pointer;
      font-size: 1.15rem;
      padding: 1rem;
      padding-left: 0rem;
      color: var(--normal);
      transition: all 100ms;
    }

    & > div:not(.enabled) {
      opacity: 0.8;
      &:hover {
        opacity: 1;
        color: var(--deep);
      }
    }

    & > div.enabled {
      font-weight: 700;
      color: var(--deep);
    }
  }

  .card {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:not(::last-child) {
      border-bottom: 1px solid var(--sub-background);
    }

    .tCont {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .lCont {
      .title {
        font-size: 1.85rem;
        font-weight: 700;
        font-family: var(--font);
        color: var(--foreground);
      }

      .hash {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0.5rem 0rem;

        i {
          font-size: 1.8rem;
          color: var(--green);
        }

        div {
          font-weight: 500;
          font-size: 0.9rem;
          letter-spacing: 0.5px;
          color: var(--normal);
        }
      }

      .hash.disabled {
        i {
          filter: grayscale(1);
          opacity: 0.7;
        }
      }
    }

    .rCont {
      width: fit-content;
    }

    .downloadBtn {
      position: relative;
      padding: 1rem;
      padding-right: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      user-select: none;
      cursor: pointer;

      i {
        font-size: 3.5rem;
        color: var(--medium);
        transition: all 300ms;
      }

      i,
      .iCont {
        z-index: 1;
      }

      .title {
        font-size: 1.15rem;
        font-weight: 600;
        transition: all 300ms;
        color: var(--foreground);
      }

      .size {
        font-size: 0.9rem;
        color: var(--deep);
        font-weight: 500;
        opacity: 0.8;
        transition: all 300ms;
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--gradient);
        z-index: 0;
        opacity: 0.2;
        border-radius: 5px;
        transition: all 300ms;
      }

      &:hover {
        i,
        .title,
        .size {
          color: white !important;
        }
        &::after {
          opacity: 1;
        }
      }
    }

    .changelogs {
      margin: 1rem 0rem;

      .subHead {
        color: var(--medium);
        font-weight: 600;
        letter-spacing: 0.5px;
      }

      ul {
        padding-left: 1.2rem;
      }

      li {
        padding-left: 0;
        line-height: 1rem;
        list-style: disc;
        margin-bottom: 1rem;
        letter-spacing: 0.8px;
        opacity: 0.95;
        font-size: 0.9rem;
        color: var(--normal);
      }
    }
  }
}

.notfound {
  position: fixed;
  inset: 0;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--foreground);
  text-align: center;
  gap: 1rem;

  .head {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
  }

  .subHead {
    color: var(--normal);
  }

  .cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  a {
    position: relative;
    width: fit-content;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    background: var(--medium);
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--background);

    &:first-child {
      background: var(--gradient);
      background-clip: text;
      color: transparent;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 5px;
        background: var(--gradient);
        opacity: 0.1;
        z-index: -1;
      }
    }

    &:last-child {
      background: var(--gradient);
    }

    &:hover {
      filter: contrast(1.5);
    }
  }
}

.mDevices {
  position: fixed;
  display: none;
  z-index: 111;
  inset: 0;
  background: var(--sub-accent-bg);
  margin: 1.2rem 1.2rem 0rem 1.2rem;
  border-radius: 10px 10px 0px 0px;
  padding-top: 2rem;
  padding-right: 0.2rem;
  //transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) !important;
  //animation: mDeviceReveal 800ms cubic-bezier(0.65, 0.05, 0.36, 1) 1;

  &::after {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 0.25rem;
    background: var(--medium);

    border-radius: 100px;
    top: 0.6rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .head {
    color: var(--foreground);
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0rem 1.2rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    height: calc(100% - 10rem);
    overflow: auto;
    padding: 0rem 0.4rem;
    .item {
      cursor: pointer;
      user-select: none;
      width: calc(100% - 1.2rem);
      color: var(--normal);
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1.2rem 0.6rem;
      border-radius: 5px;

      &:not(:last-child) {
        border-bottom: 1px solid var(--scroll-bg);
      }

      &:hover {
        background: var(--scroll-bg);
        filter: brightness(1.2);
      }

      i {
        background: var(--scroll-bg);
        color: var(--medium);
        font-size: 1.5rem;
        padding: 0.7rem;
        border-radius: 100px;
      }

      .model {
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 0.5px;
      }

      .code {
        font-weight: 300;
        letter-spacing: 0.5px;
        font-size: 0.8rem;
        opacity: 0.8;
      }
    }

    .item.enabled {
      background: var(--medium);
      color: white;
    }
  }
}

@media (max-width: 1200px) {
  .downloads {
    .topHeader {
      .title {
        //background: red;
        font-size: 3rem;
        line-height: 3.7rem;
        display: inline-block;

        span {
          display: none;
        }
      }
    }

    .card {
      .tCont {
        gap: 1rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .downloads {
    margin-right: 2rem;
    margin-left: 20rem;

    .overview {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .downloads {
    margin-right: 2rem;
    margin-left: 2rem;

    .sidebar {
      transform: translateX(-97%);

      &::after {
        position: absolute;
        content: ">";
        top: 1rem;
        right: -1rem;
        width: 1rem;
        height: 3rem;
        background: var(--medium);
        border-radius: 0px 2px 2px 0px;
        display: grid;
        place-content: center;
        font-size: 1.2rem;
        transition: opacity 300ms;
      }

      &:hover {
        transform: translateX(0);

        &::after {
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .downloads {
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    .sidebar {
      display: none;
      transform: translateX(-97%);
    }

    .topHeader {
      .title {
        font-size: 2.2rem;
        line-height: 2.6rem;
      }
    }

    .tabs {
      gap: 1rem;

      & > div {
        font-size: 1rem;
        padding: 0.8rem;
        padding-left: 0rem;
      }
    }

    .card {
      padding-top: 1rem;
      padding-bottom: 1rem;

      .tCont {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
      }

      .downloadBtn {
        position: relative;

        padding: 1rem;
        padding-right: 1.3rem;

        i {
          font-size: 2.8rem;
        }

        .title {
          font-size: 1rem;
        }

        .size {
          font-size: 0.8rem;
        }
      }

      .lCont {
        .title {
          font-size: 1.5rem;
        }

        .hash {
          gap: 0.5rem;
          margin: 0.5rem 0rem;

          i {
            font-size: 1.5rem;
          }

          div {
            font-size: 0.8rem;
          }
        }
      }

      .rCont {
        width: fit-content;
      }

      .changelogs {
        margin: 1.5rem 0rem;

        .subHead {
          font-size: 0.9rem;
        }

        li {
          line-height: 1rem;
          margin-bottom: 0.8rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  .mDevices {
    display: block;
  }
}
