.hero {
  --heroPadding: 1rem;
  position: relative;
  width: calc(100% - calc(var(--heroPadding) * 2));
  height: calc(100vh - calc(var(--heroPadding) * 2));
  padding: var(--heroPadding);
  overflow: hidden;
  isolation: isolate;

  .twoSide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    // background: red;

    div {
      width: fit-content;
      height: 100%;
    }

    .logoHolder {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .agni {
        width: 100%;
        max-width: 230px;
        filter: drop-shadow(-2px -3px 10px rgba(251, 205, 49, 0.18))
          drop-shadow(9px 10px 10px rgba(235, 52, 20, 0.27));
      }
    }

    .infoHolder {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;

      .heroHead {
        font-size: 3.2rem;
        line-height: 3.2rem;
        font-weight: 700;
        color: var(--foreground);

        transition: color 300ms;

        span {
          color: var(--medium);
        }
      }

      .heroSubHead {
        font-size: 1.3rem;
        color: var(--deep);
        font-weight: 400;
        transition: color 300ms;

        span {
          font-weight: 700;
        }
      }

      .heroButton {
        background: var(--gradient);
        border: 0;
        font-size: 1.05rem;
        font-weight: 300;
        color: var(--background);
        padding: 0.9rem 1.2rem;
        border-radius: 5px;
        letter-spacing: 1px;

        display: inline-flex;
        align-items: center;
        cursor: pointer;
        transition: filter 300ms, transform 300ms, color 300ms;

        i {
          margin-right: 1rem;
          font-size: 1.5rem;
        }
        span {
          margin-left: 0.2rem;
          font-weight: 700;
        }

        &:hover {
          filter: drop-shadow(9px 10px 10px rgba(251, 205, 49, 0.18))
            drop-shadow(-2px -3px 10px rgba(235, 52, 20, 0.27)) contrast(1.8);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

  .agniVibe {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    opacity: 0.15;
    filter: saturate(0);
    transition: all 300ms;
  }

  .agniVibe.dark {
    filter: saturate(0.7) blur(10px);
    opacity: 0.07;
  }
}

section {
  padding: 2.5rem;
  padding-top: 7rem;

  & > .head {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--foreground);
    margin-bottom: 1rem;
    transition: color 300ms;
  }
}

section.features {
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 2rem;

    .card {
      background: var(--card-bg);
      aspect-ratio: 4 / 2;
      border-radius: 5px;
      padding: 1rem;
      max-width: 400px;
      box-shadow: 0px 10.1353px 15.5928px 1.55928px rgba(0, 0, 0, 0.08);

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      transition: background 300ms;

      i {
        font-size: 5rem;
      }

      .info {
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--normal);
        transition: color 300ms;
        span {
          color: var(--foreground);
          font-weight: 700;
          font-size: 2.4rem;
          display: block;
          transition: color 300ms;
        }
      }
    }
  }
}

section.improvements {
  & > .head {
    margin-bottom: 2rem;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .card {
      .head {
        color: var(--medium);
        font-weight: 600;
        letter-spacing: 0.5px;
        transition: color 300ms;
      }

      ul {
        padding-left: 1.2rem;
      }

      li {
        padding-left: 0;
        line-height: 1.6rem;
        list-style: disc;
        margin-bottom: 1rem;
        letter-spacing: 0.8px;
        opacity: 0.95;
        font-size: 0.9rem;
        color: var(--normal);
        transition: color 300ms;
      }
    }
  }
}

section.team {
  padding-top: 1rem;
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    margin-top: 5rem;
    margin-bottom: 3rem;
    gap: 4.5rem;

    .card {
      position: relative;
      aspect-ratio: 4 / 1.7;
      max-width: 400px;
      border-radius: 5px;
      background: var(--sub-background);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: background 300ms;

      .avatar {
        position: absolute;
        left: 0;
        top: -22%;
        margin-left: 1.7rem;
        object-fit: cover;
        width: 6rem;
        height: 6rem;
        border-radius: 1000px;
        border: 5px solid var(--stroke);
        background: var(--sub-background);
        filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.18));
        transition: border-color 300ms;
      }

      .info {
        margin: 1rem 2rem;
        margin-bottom: 1.5rem;

        .name {
          font-weight: 700;
          font-size: 1.6rem;
          color: var(--foreground);
          transition: color 300ms;
        }

        .role {
          color: var(--foreground);
          transition: color 300ms;
          opacity: 0.6;
        }
      }

      .links {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        margin-right: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 1.5rem;

        i {
          opacity: 0.8;
          font-size: 2rem;
          color: var(--normal);
          transition: color 300ms;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

footer {
  background: var(--sub-background);
  padding: 2.5rem;
  width: calc(100% - 5rem);

  transition: background 300ms;

  .wrapper {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    img {
      width: 3rem;
      object-fit: contain;
      filter: saturate(0);
    }

    .aInfo {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      div {
        color: var(--normal);
        font-weight: 600;
        font-size: 1.3rem;
        transition: color 300ms;

        &:last-child {
          font-weight: 400;
          font-size: 0.8rem;
          opacity: 0.7;
        }
      }
    }
  }

  .refs {
    display: flex;
    gap: 5rem;
    .cInfo {
      .head {
        color: var(--medium);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        margin-top: 0.8rem;
        transition: color 300ms;
      }

      .items {
        cursor: pointer;
        display: block;
        color: var(--normal);
        line-height: 2rem;
        font-size: 0.95rem;
        letter-spacing: 0.5px;
        transition: color 300ms;

        &:hover {
          color: var(--light);
          text-decoration: underline;
        }
      }
    }
  }

  .authorCont {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    width: 100%;

    img {
      opacity: 0.5;
      cursor: pointer;
      width: 8rem;
      transition: transform 300ms, opacity 300ms;

      &:hover {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 952px) {
  section.team {
    padding-top: 1rem;
    .list {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 3.5rem;
      margin-bottom: 3rem;
      gap: 3rem;

      .card {
        aspect-ratio: unset;
        max-width: unset;
        height: 9.2rem;

        .avatar {
          width: 5rem;
          height: 5rem;
        }

        .info {
          margin-bottom: 1.3rem;

          .name {
            font-size: 1.4rem;
          }

          .role {
            font-size: 0.9rem;
            letter-spacing: 0.7px;
          }
        }

        .links {
          margin-right: 1.3rem;
          gap: 1.3rem;

          i {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media (max-width: 912px) {
  section.features {
    .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.2rem;

      .card {
        aspect-ratio: unset;
        max-width: unset;
        height: 10rem;

        gap: 1rem;

        i {
          font-size: 4rem;
        }

        .info {
          font-size: 1rem;
          span {
            font-size: 2.1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  footer {
    .wrapper {
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media (max-width: 780px) {
  section {
    padding: 1.2rem;
    padding-top: 7rem;

    & > .head {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  .hero {
    .twoSide {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      // background: red;

      div {
        width: fit-content;
        height: fit-content;
      }

      .logoHolder {
        width: fit-content;
        display: grid;
        place-content: center;

        .agni {
          width: 12rem;
        }
      }

      .infoHolder {
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        .heroHead {
          font-size: 2.5rem;
          line-height: 2.5rem;
        }

        .heroSubHead {
          font-size: 1rem;
          color: var(--deep);
          font-weight: 400;
          transition: color 300ms;

          span {
            font-weight: 700;
          }
        }

        .heroButton {
          font-size: 0.9rem;
          margin-top: 1rem;

          i {
            margin-right: 1rem;
            font-size: 1.4rem;
          }
        }
      }
    }

    .agniVibe {
      // Pending
    }
  }

  section.features {
    .list {
      gap: 1.2rem;
    }
  }

  footer {
    padding: 1.5rem;
    width: calc(100% - 3rem);

    .info {
      img {
        width: 2.5rem;
      }

      .aInfo {
        div {
          font-size: 1.2rem;
          &:last-child {
            font-size: 0.7rem;
          }
        }
      }
    }

    .refs {
      display: flex;
      gap: 3rem;
      .cInfo {
        .head {
          letter-spacing: 0.5px;
          font-size: 0.8rem;
          margin-bottom: 0.3rem;
          margin-top: 0.8rem;
        }

        .items {
          line-height: 1.8rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  section.features {
    .list {
      .card {
        aspect-ratio: unset;
        max-width: unset;
        height: 8rem;

        gap: 1rem;

        i {
          font-size: 3rem;
        }

        .info {
          font-size: 0.85rem;
          span {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  section {
    padding: 1.2rem;
    padding-top: 3rem;

    & > .head {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }
  }

  .hero {
    .twoSide {
      .logoHolder {
        .agni {
          width: 8rem;
        }
      }

      .infoHolder {
        gap: 0.5rem;

        .heroHead {
          font-size: 2rem;
          line-height: 2rem;
        }

        .heroSubHead {
          font-size: 0.8rem;
        }

        .heroButton {
          font-size: 0.8rem;
          margin-top: 1rem;
          letter-spacing: 1.5px;
          font-weight: 400;

          i {
            margin-right: 1rem;
            font-size: 1.2rem;
          }
        }
      }
    }

    .agniVibe {
      // Pending
    }
  }

  section.features {
    .list {
      gap: 1rem;
      .card {
        height: unset;
        aspect-ratio: 4 / 2;

        gap: 0.7rem;

        i {
          font-size: 7vw;
        }

        .info {
          font-size: 2.6vw;
          span {
            font-size: 3.4vw;
          }
        }
      }
    }
  }

  section.improvements {
    & > .head {
      margin-bottom: 2rem;
    }

    .list {
      grid-template-columns: 1fr;

      .card {
        .head {
          font-size: 0.9rem;
        }

        li {
          font-size: 0.8rem;
          line-height: 1.4rem;
        }
      }
    }
  }

  section.team {
    .list {
      grid-template-columns: 1fr;
      gap: 4rem;
    }
  }

  footer {
    .wrapper {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
