nav.default {
  position: fixed;
  z-index: 1;
  top: 0;
  width: calc(100% - 5.6rem);
  padding: 0.5rem 2.8rem;
  height: 5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;

  background: var(--background);

  .navHome {
    height: 3rem;
    margin-right: 0.5rem;
  }

  a,
  div.navButton {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--foreground);
    letter-spacing: 1px;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: var(--medium);
    }
  }
}
